.static {
    position: static;
    left: 100px;
}
.relative {
    /* position: relative; */
    right: -200px;
    top: -300px;
    position: relative;

}

.absolute{
    right: 300px;
    top: -200px;
    position: absolute;

}                      

.topleft {
    right: 100px;
    top: -16px;
    position: topleft;
}
.topright{
    left: 100px ;
    top: -11px;
    position: topright;

}
.imageparent{
    position:relative;
}
img{
   border-radius: 10%;

}
.body{
    margin:0;
}
.fixed{
    position: fxed;
    bottom: 0px;
    right: 0px;
    background-color: aqua;
}

.sticky{
    position:sticky;
    top: 0;
    background-color: red;

}

ul{
    list-style-type: none;
    color: white;
    margin: 0px;
  
}
li{
    padding: 3px;
    background-color: green;
}